ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}

a {
   text-decoration: none;
   background-color: aquamarine;
   padding: 10px 20px;

}

blockquote {
    margin: 40px 20px;
    width: 250px;

}