body {
    margin: 0px;
    height: 600px;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 40px 15px 40px 15px;
    border-radius: 10px;
}

div {
    margin: 40px;
}

.hover:hover {
    background-color: white;
    transition: .3s;
    color:black;
}

.focus:focus {
    background-color: brown;
    color:beige;     
}

.active:active {
    background-color: aqua;
    color: beige;
}

.visited:visited {
    background-color: darkgray;
    color: black;
}

ol {
    font-size: 2em;
    margin: 40px;
    background-color: lightblue;
}

ol li:first-child {
    background-color: tomato;
}

ol li:not(:first-child, :last-child)
{
    background-color: beige;
}